<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <style>

        li {
            padding: 15px;
            margin: 5px;
            border-radius: 0.3em;
        }

        .myMessage {
            background: #000000;
            color: #BDBDBD;
            border: 0.4px solid #088A85;
            text-align: right;
            width: 40%;
            margin-left: auto;
            word-wrap: break-word;
        }

        .otherMessage {
            background: #000000;
            color:  #BDBDBD;
            border: 1px solid #BDBDBD;
            text-align: left;
            word-wrap: break-word;
            width: 40%;
            margin-right: auto;
        }
    </style>
</head>
<body bgcolor="black">
{{{body}}}

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</body>
</html>
